.detail_heart{
padding: 8px 15px;
background-color: white;
color: red;
border-radius: 6px;
border: 1px solid red;
}
.detail_trash{
    padding: 8px 15px;
    background-color: white;
    color: red;
    border-radius: 6px;
    border: 1px solid red;
}
.detail{
    border: none;
}